footer.page-footer.blue.darken-2(style='padding: 20px 0px; margin-top: 30px;')
  .container
    .row(style='margin: 0')
      .col.l6.s2.white-text
        h4 Gamers Shop
        p The best products for gamers
      .col.l4.offset-12.s12.white-text
        ul
          li Link 1
          li Link 2
          li Link 3
          li Link 4