nav.blue.darken-2
  .container
    .nav-wrapper.valign-wrapper
      a
        img.responsive-img.left(src='/static/img/logo.png')
      ul.right#nav-mobile
        li
          i.large.material-icons.white-text shopping_cart