nav.blue.darken-2
  .container
    .nav-wrapper
      img.bran-logo(src='https://www.pngrepo.com/download/211770/game-controller.png' style='height: 70px;')
      ul.right.hide-on-med-and-down#nav-mobile
        li
          i.large.material-icons.white-text(style='font-size: 36px') shopping_cart