extends layout.pug

block hero
  section.grey.darken-4(style='padding: 30px 0px; margin-bottom: 30px')
    .container
        .white-text
          h1(style='font-size: 48px; margin: 10px 0px') Gamers Shop
          h2(style='font-size: 24px') The best products for gamers

block content
  section.container
    .row
      each product in productsList
        .col.s12.m4.l3
          .card
            .card-image
              img(src= product.image)
            .card-content.black-text(style='display: flex; flex-direction: column; align-items: center;')
              span.card-title(style='font-weight: bold')= product.name
              h6= `$${product.price} USD`
              a.btn.waves-effect.waves-light.light-blue.darken-2(style='margin-top: 15px') Add to cart
                i.material-icons.left add_shopping_cart
              