extends layout.pug

block viewStyles
  link(rel="stylesheet", href="/static/css/products.css")

block hero
  section.products.grey.darken-4
    .container
        .white-text
          h1 Gamers Shop
          h2 The best products for gamers

block content
  section.container
    .row
      each product in productsList
        .col.s12.m4.l3
          .card.product-card
            .card-image
              img(src= product.image)
            .card-content.black-text
              span.card-title= product.name
              h6= `$${product.price} USD`
              a.btn.waves-effect.waves-light.light-blue.darken-2 Add to cart
                i.material-icons.left add_shopping_cart
              